/* Remove default page margin */
html, body {
    margin: 0;
    padding: 0;
}
.body{
    background-color: burlywood;
}


.title {
    width: 100%;              /* FULL screen width */
    color: black;
    background-color: cornsilk;
    text-align: center;
    padding: 10px 0;
    margin: 15px 0 0 0;
}




/* =========================
   Table / Body Color
   ========================= */
.table {
    width: 100%;
    background-color: darkkhaki;

}


/* =========================
   Insert Button
   ========================= */
.btn {
    float: right;
    margin-right: 20px;
}
