.heading {
  color: black;
  background-color: rgb(155, 199, 132);
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 15px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;     /* container center */
  gap: 15px;
}

.field {
  display: flex;
  justify-content: space-between;
  width: 300px;            /* same width for all fields */
}

.field label {
  width: 80px;             /* label alignment */
}

.field input {
  width: 180px;
}

